@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-roboto bg-white text-[#030303] scrollbar-thin scrollbar-thumb-[#909090] scrollbar-track-white scrollbar-thumb-rounded;
    }

    img {
        @apply w-full h-full max-h-full align-middle object-contain;
    }
}

.sidebar__height {
    height: calc(100vh - 55px);
}

.tags__width {
    width: calc(100vw - 310px);
}

.header__width {
    width: calc(100vw - 240px);
}

.login__height {
    height: calc(100vh - 63px);
}
